.title-container {
  text-align: right;
  background-color: #333; /* Background color */
  padding: 10px; /* Padding around the title */
  color: #fff; /* Text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  border-bottom: 2px solid #ff5733; /* Bottom border */
}