<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body> <!-- Open the <body> tag here -->

<h1 class="title-container" style="text-align: center; background-color: #334; padding: 10px; color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-bottom: 2px solid #ff5733;">Star Bakery</h1>

<!-- Center and style the links -->
<div style="text-align: center;">
    <a href="{% url 'data_analysis'%}" style="color: blue; text-decoration: underline; font-size: 24px;">Data Analysis</a>
    <br>
    <a href="{% url 'FeedAndFetch'%}" style="color: blue; text-decoration: underline; font-size: 24px;">Feed In And Fetch</a>
</div>

</body> <!-- Close the <body> tag here -->
</html>
